@import '../variables.scss';

.cart-container {
    margin-top:10px;
}

.cart-border {
  min-height:100px;
  border:1px solid $black;
  padding:10px;
  margin:0 10px;
}

.cart-heading{
  padding-left:5px;
  font-weight:600;
}

.cart-product-container {
  display:block;
  padding:5px;
  margin: 5px 0;
  display:flex;
}

.cart-product-heading {
  margin-right:10px;
  flex:1.5;
}

.cart-btn{
  flex:1;
}

