@import '../variables.scss';

.product-container {
    padding:10px;
    text-align:center;
}

.product-header {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.product-border {
  border:1px solid $black;
  padding:10px;
}

.product-image {
    padding:15px;
    max-height:190px;
}

.product-price {
    text-align:center;
    padding:15px;
}

@media only screen and (max-width: $responsive-breakpoint) {

  .main-container {
    flex-direction: column-reverse;
  }

  .main-panel {
    margin:0;
  }

}